@import '~office-ui-fabric-react/dist/sass/References.scss';

.learningResourcesWp {
    padding: 0 30px 0 30px;
    .mainHeading {
        color: #1347a4;
        padding: 10px 5px;
        margin-bottom: 10px;
        font-weight: 700;
        border-bottom: 1px solid #1347a4;
    }
}
