@import "~office-ui-fabric-react/dist/sass/References.scss";

.newEmployeeWp {
  .heading {
    color: #1347a4;
    padding: 10px 5px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: medium;
    border-bottom: 1px solid #1347a4;
  }
  .container {
    height: 26em;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .image {
    height: 25em;
    width: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    object-fit: fill;
  }
  .title {
    color: #000;
    text-align: center;
    opacity: 0.7;
    font-size: 1.25em;
    font-weight: 700;
    padding: 0;
  }
  .rightArrow {
    position: absolute;
    right: 0.1em;
    font-size: 1.5em;
    color: #1347a4;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .leftArrow {
    position: absolute;
    left: 0.1em;
    font-size: 1.5em;
    color: #1347a4;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .slide {
    opacity: 0;
    transition: 2s ease;
  }
  .active {
    opacity: 1;
    transition: opacity 1s ease-in;
    transform: scale(0.9);
  }
  .profileLink:link,
  .profileLink:visited {
    background-color: white;
    color: #1347a4;
    font-weight: 700;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .profileLink:hover,
  .profileLink:active {
    background-color: #ffffff;
    color: #1347a4;
  }
  .profileLink {
    cursor: pointer;
  }

  .carouselContent {  
    height: 26em !important;  
  }  

  div[class^="details"] {  
    top: 75% !important; 
    text-align: center !important; 
    background-color: #ffffff !important;
    color: #000 !important;

    span {  
      font-size: 16px !important; 
    }  

    span[class^="title"] {  
      font-size: 18px !important;  
    } 
  }  
    
  .carouselButtonsContainer button {  
    min-width: 16px !important;  
  } 
  
}
