@import '~office-ui-fabric-react/dist/sass/References.scss';

.about {
  .heading {
    color: #1347a4;
    padding: 0.625em 0.375em;
    font-weight: 700;
    border-bottom: 0.0625em solid #1347a4;
    margin-bottom: 0.625em;
  }
  .container {
    height: 22.5em;
    padding: 0.625em 1em;
    text-align: justify;
    overflow-y: auto;
    margin-bottom: 0.625em;
    text-align: justify;
    color: #000;
  }
}
