@import '~office-ui-fabric-react/dist/sass/References.scss';

.webPartDivHeading {
    color: #1347a4;
    padding: 10px 5px;
    margin-bottom: 10px;
    font-weight: 700;
    border-bottom: 1px solid #1347a4;
}
.innerDiv {
    height: 430px;
    padding: 0px 5px;
    overflow-y: auto;
}
.container {
    padding: 5px;
    margin-top: 5px;
    border-bottom: 2px solid #e1e1e1;
}
.container:last-child {
    border-bottom: 0px;
}
.jobPostingsHeading {
    color: #1347a4;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
}
.jobPostingsDesc {
    font-size: 14px;
    padding: 0;
    line-height: 21px;
    text-align: justify;
}
.jobPostingsDate {
    color: #000;
    opacity: 0.7;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
}
.jobPostingsDocLinkDiv {
    text-align: center;
}
.jobPostingsDocLink {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.jobPostingsDocLink:active, .jobPostingsDocLink:hover, .jobPostingsDocLink:focus, .jobPostingsDocLink:visited {
    color: #000;
}