@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
  margin-top: 0;
  padding-top: 0;
  padding-right: 30px;
  padding-left: 30px;
}
// .homeContainerDiv {
//   margin-top: 0;
//   padding-top: 0;
//   padding-right: 20px;
//   padding-left: 20px;
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-gap: 5px 5px;
//   grid-auto-rows: minmax(auto, auto);

// }
// .announcementDiv {
//   height: 500px;
//   padding: 0 10px 10px 10px;
//   grid-column: 1/9;
//   grid-row: 1/1;
// }
// .quickLinkDiv {
//   height: 500px;
//   padding: 0 10px 10px 10px;
//   grid-column: 9/13;
//   grid-row: 1/1;

// }
// .topBannerDiv {
//   height: 350px;
//   padding: 10px;
//   grid-column: 1/9;
//   grid-row: 2/2;

// }
// .eventsDiv {
//   height: 350px;
//   padding: 15px 10px 10px 10px;
//   grid-column: 9/13;
//   grid-row: 2/2;

// }
// .staffDirectoryDiv {
//   height: 500px;
//   padding: 10px;
//   grid-column: 1/5;
//   grid-row: 3/3;

// }
// .newEmployeesDiv {
//   height: 500px;
//   padding: 10px;
//   grid-column: 5/9;
//   grid-row: 3/3;

// }
// .dailyAccession {
//   height: 500px;
//   padding: 10px;
//   grid-column: 9/13;
//   grid-row: 3/3;
// }
// .calendarDiv {
//   height: 500px;
//   padding: 10px;
//   grid-column: 1/5;
//   grid-row: 4/4;

// }
// .jobPostingDiv {
//   height: 500px;
//   padding: 10px;
//   grid-column: 5/9;
//   grid-row: 4/4;

// }
// .statistics {
//   height: 500px;
//   padding: 10px;
//   grid-column: 9/13;
//   grid-row: 4/4;
// }

