@import "~office-ui-fabric-react/dist/sass/References.scss";

.staffDirectoryWp {
  .mainHeading {
    color: #1347a4;
    padding: 10px 5px;
    margin-bottom: 10px;
    font-weight: 700;
    border-bottom: 1px solid #1347a4;
  }
  .gridContainer {
    padding: 5px;
    margin-top: 5px;
    border-bottom: 2px solid #e1e1e1;
  }
  .gridContainer:last-child {
    border-bottom: 0px;
  }
  .searchDiv {
    padding: 0px 15px 10px 15px;
  }
  ::placeholder {
    color: #1347a4;
  }
  .innerDiv {
    height: 385px;
    padding: 0px 5px;
    overflow-y: auto;
  }
  .field {
    width: 100%;
    border: 1px solid #1347a4;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s all;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #1347a4;
    font-weight: 500;
  }
  .field:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }
  .staffDirectoryHeading {
    color: #1a2536;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
  }
  .staffDirectoryLink {
    cursor: pointer;
    text-decoration: none;
    color: #1a2536;
  }
  .staffDirectoryLink:hover,
  .staffDirectoryLink:focus,
  .staffDirectoryLink:visited,
  .staffDirectoryLink:active {
    color: #1a2536;
  }
  .paragraphDiv {
    padding: 4px 0px;
  }
  .paragraphDiv p {
    margin: 0 0 0 !important;
    color: #1a2536 !important;
    word-break: break-all;
  }
  .profileImage {
    padding: 10px 10px 10px 10px;
    width: 96px !important;
    border-radius: 50%;
  }
}
